<!-- Generated template for the StepComponent component -->
<div fixe class="map fix-content">
  <ion-grid >
    <ion-row>
      <ion-col col-9>
        <div *ngIf="count>0;else other">
          <div *ngFor="let media of medias">
              <img display="block"   height="{{height/2.5}}" object-fit="contain" *ngIf="media.selected" src="{{media.id}}">
          </div>        
        </div>
        <ng-template #other>
          <img width="{{width/2}}" height="{{height/2}}" object-fit="contain" (tap)="takePicture()" src="assets/takePicture.png">
        </ng-template>
      </ion-col>
      <ion-col col-3>
        <div ion-fixed *ngIf="count<3;else other2">
            <div *ngFor="let media of medias">
                <img  height="{{height/8}}" object-fit="contain"(tap)="tapEvent(media.id)" src="{{media.id}}">
            </div>
            <div>
              <img height="{{height/8}}" object-fit="contain" (tap)="takePicture()" src="assets/takePicture.png">
            </div>
         </div> 
          <ng-template #other2>
            <div *ngFor="let media of medias">
                  <img height="{{height/8}}" object-fit="contain"  (tap)="tapEvent(media.id)" src="{{media.id}}">
            </div>
          </ng-template>
        
      </ion-col>
    </ion-row>
    
    </ion-grid>
  </div>

  <div ion-fixed class="map2 scroll-content">
          <textarea class="texto" rows="50" (keyup.enter)="addRow()" placeholder="{{description}}"></textarea>
</div>
  
