<!-- Generated template for the StepComponent component -->
<div>

  <ion-grid>
    <ion-row>
      <ion-col col-9>
        <div class="pure" *ngIf="count>0;else other">
          <li class="my-gallerielist" *ngFor="let media of medias">
            <img class="image" *ngIf="media.selected" src="{{media.id}}">
          </li>
        </div>
        <ng-template #other>
          <img (tap)="takePicture()" src="assets/takePicture.png">
        </ng-template>
      </ion-col>
      <ion-col col-3>
        <div class="pure" *ngIf="count<3;else other2">
          <li class="my-gallerielist" *ngFor="let media of medias">
            <img (tap)="tapEvent(media.id)" src="{{media.id}}">
          </li>
          <img (tap)="takePicture()" src="assets/takePicture.png">
        </div>
        <ng-template #other2>
          <li class="my-gallerielist" *ngFor="let media of medias">
            <img (tap)="tapEvent(media.id)" src="{{media.id}}">
          </li>
        </ng-template>
      </ion-col>
    </ion-row>
    <ion-row>
        <ion-col>
              <ion-textarea  rows="1" *ngFor="let description of descriptions" placeholder="{{description.text}}"></ion-textarea> 
        </ion-col>
    </ion-row>
    <ion-row>
      <button ion-button full (click)="addDescription()">Ajouter une ligne</button>
    </ion-row>
  </ion-grid>
</div>
