step {

.my-gallerielist{ 
		list-style-type: none;
        list-style-position:inside;
        margin:0;
        padding:0; }
}
.pure{
	border: none;
}
.image{
	/*width:250px;
	heigth:140px;*/
}
.imageGallery{

	/*width:100px;
	heigth:57px;*/	
}
