page-newtuto {

/*ion-content{
	scroll-content {
        overflow-y: hidden;
    }
}*/

/*img {
  height: 50% !important;
  display: block;
  width: auto !important;
}*/
.map3 {
    position:absolute;
    height:100%;
    width: 100%;  
}
}
